body {
  margin: 2em 0 0 0;
}

.container {
    border: solid 1px #ccc;
    border-radius: 6px;
}

.container.no-border-bottom-radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.container.no-border-top {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.spinner {
    padding: 20px;
}

hr {
    border: solid 1px black;
}